version: "3.9"

services:

  app:
    build: .
    container_name: redisproject-app
    ports:
      - "8080:8080"
    environment:
      DB_URL: "jdbc:mysql://e-wallet-db.ctk4aceyom3u.ap-northeast-2.rds.amazonaws.com:3306/E_Wallet?useSSL=false&serverTimezone=Asia/Seoul&allowPublicKeyRetrieval=true"
      DB_USERNAME: "E_Wallet"
      DB_PASSWORD: "Lp2019261028"
      SPRING_REDIS_CLUSTER_NODES: >
        redis-master-1:7100,
        redis-master-2:7101,
        redis-master-3:7102,
        redis-slave-1:7103,
        redis-slave-2:7104,
        redis-slave-3:7105
    depends_on:
      - redis-master-1
      - redis-master-2
      - redis-master-3
      - redis-slave-1
      - redis-slave-2
      - redis-slave-3
    networks:
      - redis-cluster-net

  redis-master-1:
    image: redis:7.2
    container_name: redis-master-1
    ports:
      - "7100:7100"
      - "17100:17100"
    volumes:
      - ./cluster/redis-master-1/redis.conf:/usr/local/etc/redis/redis.conf
      - ./cluster/redis-master-1/data:/data
    command: ["redis-server", "/usr/local/etc/redis/redis.conf"]
    networks:
      - redis-cluster-net

  redis-master-2:
    image: redis:7.2
    container_name: redis-master-2
    ports:
      - "7200:7200"
      - "17200:17200"
    volumes:
      - ./cluster/redis-master-2/redis.conf:/usr/local/etc/redis/redis.conf
      - ./cluster/redis-master-2/data:/data
    command: ["redis-server", "/usr/local/etc/redis/redis.conf"]
    networks:
      - redis-cluster-net

  redis-master-3:
    image: redis:7.2
    container_name: redis-master-3
    ports:
      - "7300:7300"
      - "17300:17300"
    volumes:
      - ./cluster/redis-master-3/redis.conf:/usr/local/etc/redis/redis.conf
      - ./cluster/redis-master-3/data:/data
    command: ["redis-server", "/usr/local/etc/redis/redis.conf"]
    networks:
      - redis-cluster-net

  redis-slave-1:
    image: redis:7.2
    container_name: redis-slave-1
    ports:
      - "7400:7400"
      - "17400:17400"
    volumes:
      - ./cluster/redis-slave-1/redis.conf:/usr/local/etc/redis/redis.conf
      - ./cluster/redis-slave-1/data:/data
    command: ["redis-server", "/usr/local/etc/redis/redis.conf"]
    networks:
      - redis-cluster-net

  redis-slave-2:
    image: redis:7.2
    container_name: redis-slave-2
    ports:
      - "7500:7500"
      - "17500:17500"
    volumes:
      - ./cluster/redis-slave-2/redis.conf:/usr/local/etc/redis/redis.conf
      - ./cluster/redis-slave-2/data:/data
    command: ["redis-server", "/usr/local/etc/redis/redis.conf"]
    networks:
      - redis-cluster-net

  redis-slave-3:
    image: redis:7.2
    container_name: redis-slave-3
    ports:
      - "7600:7600"
      - "17600:17600"
    volumes:
      - ./cluster/redis-slave-3/redis.conf:/usr/local/etc/redis/redis.conf
      - ./cluster/redis-slave-3/data:/data
    command: ["redis-server", "/usr/local/etc/redis/redis.conf"]
    networks:
      - redis-cluster-net

networks:
  redis-cluster-net:
    driver: bridge